*{
    margin: 0px;
    padding: 0px;
}
.blue{
    background-color: #0295ff;
    width: auto;
    height: 625px;
    position: relative;
}
img{
    border: 3px solid white;
    border-radius: 20px;
    width: 280px;
    height: 350px;
    position: absolute;

}
.a{
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 370px;
}
.b{
    z-index: 2;
    position: absolute;
    left: 420px;
    top: 50px;
}
.c{
    z-index: 3;
    position:absolute;
    left: 470px;
    top: 50px;
}
.d{
    z-index: 4;
    position:absolute;
    left: 520px;
    top: 50px;
}
.e{
    z-index: 5;
    position:absolute;
    left: 570px;
    top: 50px;
}
.f{
    z-index: 6;
    position:absolute;
    left: 620px;
    top: 50px;
}
h1{
    color: #0295ff;
    background-color: white;
    width: 800px;
    text-align: center;
    font-size: 60px;
    position: absolute;
    top: 530px;
    left: 260px;
}
.profile > img{
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 100%;
    /* position: absolute; */
    /* top: 420px;
    left: 400px; */
}
.a1{
    z-index: 1;
    position: absolute;
    top: 430px;
    left: 430px;
}
.a2{
    z-index: 2;
    position: absolute;
    left: 490px;
    top: 430px;

}
.a3{
    z-index: 3;
    position: absolute;
    left: 550px;
    top: 430px;

}
.a4{
    z-index: 4;
    position: absolute;
    top: 430px;
    left: 610px;
}
.a5{
    z-index: 5;
    position: absolute;
    top: 430px;
    left: 670px;
}
.a6{
    z-index: 6;
    position: absolute;
    top: 430px;
    left: 730px;
}

