*{
    padding: 0px;
    margin: 0px;
}
.boxes{
    background-color: gray;
    width: 800px;
    height: 600px;
    color: white;
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 250px;
    z-index: 1;
}
.red{
    background-color: red;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.blue{
    background-color: blue;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.green{
    background-color: green;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    background-color: rgb(0, 0, 0);
    width: 150px;
    height: 150px;
    position: absolute;
    top: 210px;
    left: 320px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yellow{
    background-color: yellow;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}